.about {
  min-height: 320px;
  padding-left: calc(((100% - 1220px) / 2) + 250px);

  background-image: url("../img/desktop-about-background@1x.png");
  background-repeat: no-repeat;
  background-position: -250px 0;
  background-size: 150px 320px;
  background-origin: content-box;

  @include retina {
    background-image: url("../img/desktop-about-background@2x.png");
  }

  @include vp-1023 {
    padding-left: 225px;

    background-position: -180px 0;
  }

  @include vp-767 {
    min-height: auto;
  }
}

.about h2 {
  margin-top: 0;
  margin-bottom: 13px;

  @include vp-1023 {
    margin-bottom: 15px;

    line-height: 43px;
  }

  @include vp-767 {
    margin-bottom: 10px;
  }
}

.about__content {
  height: 160px;
  margin-bottom: 32px;
  overflow: hidden;

  @include vp-1023 {
    height: 255px;
    margin-bottom: 22px;
  }

  @include vp-767 {
    height: 205px;
    margin-bottom: 16px;
  }
}

.about__content.is-opened {
  height: auto;
}

.about p {
  margin-top: 0;
  margin-bottom: 22px;

  line-height: 21.5px;

  @include vp-767 {
    font-size: 14px;
    line-height: 18.8px;
  }

  @include vp-767 {
    margin-bottom: 18px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.about__br {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.about__button {
  min-width: 180px;
  min-height: 45px;

  line-height: 0;

  @include vp-767 {
    min-width: 160px;
    min-height: 35px;
  }
}
