.connection {
  color: $color-default-white;

  background-image: url("../img/desktop-paper-airplane@1x.png"), linear-gradient(139.2deg, #036693 calc((100% - 1220px + 600px) / 2), $color-deep-sky-blue calc((100% - 1220px + 602px) / 2));
  background-repeat: no-repeat;
  background-position: calc((100% - 1220px + 510px) / 2) 246px, 0 0;

  @include vp-1279 {
    background-position: 4% 246px, 0 0;
    background-size: 35%, auto;
  }

  @include vp-1023 {
    background-color: $color-deep-sky-blue;
    background-image: none;
  }
}

.connection__form {
  width: 595px;
  margin-left: calc(((100% - 1220px) / 2) + 625px);

  @include vp-1279 {
    margin-right: 30px;
    margin-left: auto;
  }

  @include vp-1023 {
    width: auto;
    margin-right: 50px;
    margin-left: 50px;
  }

  @include vp-767 {
    width: auto;
    margin-right: 25px;
    margin-left: 25px;
  }
}

.connection__title {
  margin-top: 0;
  margin-bottom: 11px;

  @include vp-1023 {
    margin-bottom: 7px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
  }
}

.connection__text {
  margin-top: 0;
  margin-bottom: 35px;
  padding-left: 5px;

  @include vp-1023 {
    margin-bottom: 25px;
    margin-left: -5px;
  }

  @include vp-767 {
    margin-bottom: 35px;

    font-size: 14px;
    line-height: 19px;
  }
}

.connection__list {
  display: grid;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 10px;
  padding-left: 5px;

  list-style: none;
  column-gap: 30px;

  grid-template-columns: 1fr 1fr;

  @include vp-1023 {
    width: calc(100% + 15px);
    margin-left: -5px;
  }

  @include vp-767 {
    margin-bottom: 35px;

    font-size: 14px;
    line-height: 19px;

    grid-template-columns: 1fr;
  }

  row-gap: 20px;
}

.connection__item {
  order: -1;

  &--textarea {
    grid-column: span 2;

    @include vp-767 {
      grid-column: auto;
    }
  }

  &--checkbox {
    order: 1;
    margin-left: 10px;
    padding-top: 25px;

    @include vp-1023 {
      margin-left: 0;
      padding-top: 21px;
    }

    @include vp-767 {
      margin-left: 0;
      padding-top: 4px;
      padding-left: 5px;
    }
  }

  &--button {
    order: 0;
    margin-top: 10px;
    margin-right: 10px;

    @include vp-1023 {
      margin-right: 55px;
    }

    @include vp-767 {
      margin-top: 5px;
      margin-right: 0;
    }
  }
}
