.contact {
  display: flex;
  min-width: 225px;

  line-height: 18px;
  color: $color-default-white;

  transition: opacity $trans-default;

  @include vp-1279 {
    min-width: auto;

    font-size: 0;


    &::before {
      margin-right: 0;
    }
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
      opacity: 0.7;
    }
  }

  &::before {
    content: "";

    display: block;
    width: 20px;
    height: 20px;
    margin-right: 15px;

    background-image: url("../img/icon-email.svg");
  }

  &--email::before {
    background-image: url("../img/icon-email.svg");
  }

  &--phone::before {
    background-image: url("../img/icon-phone.svg");
  }
}
