.main-footer {
  display: flex;
  padding-top: 50px;
  padding-right: calc((100% - 1220px) / 2);
  padding-bottom: 55px;
  padding-left: calc((100% - 1220px) / 2);

  background-color: $color-black-pearl;

  @include vp-1279 {
    display: block;
    padding-right: 50px;
    padding-bottom: 65px;
    padding-left: 50px;
  }
  @include vp-769 {
    padding-bottom: 35px;
    padding-top: 35px;
    padding-right: 0;
    padding-left: 0;
  }
}

.main-footer__wrapper {
  flex-shrink: 0;
  margin-right: 160px;

  @include vp-1279 {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    margin-bottom: 35px;
  }
  @include vp-769 {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}

.main-footer__logo {
  margin-bottom: 30px;
}

.main-header__socials {
  padding-left: 15px;

  @include vp-769 {
    padding-left: 0;
  }
}

.main-footer__accordion {
  display: flex;
  justify-content: space-between;

  @include vp-769 {
    display: block;
  }
}

.main-footer__nav-title {
  margin-bottom: 20px;

  @include vp-769 {
    margin-bottom: 0;
  }
}

.main-footer__nav-list {
  display: grid;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
  column-gap: 30px;

  grid-auto-flow: row;
  grid-template-columns: repeat(2, 220px);
  @include vp-1279 {
    grid-template-columns: repeat(1, 220px);
  }
  row-gap: 10px;
}

.main-header__nav-item {
  @include vp-1279 {
    order: 7;

    &:nth-child(1) {
      order: 0;
    }

    &:nth-child(2) {
      order: 4;
    }

    &:nth-child(3) {
      order: 1;
    }

    &:nth-child(4) {
      order: 5;
    }

    &:nth-child(5) {
      order: 2;
    }

    &:nth-child(6) {
      order: 6;
    }

    &:nth-child(7) {
      order: 3;
    }
  }
}

.main-header__nav-link {
  color: $color-alice-blue;
}

.main-footer__office {
  width: 345px;

  @include vp-769 {
    width: auto;
  }
}

.main-footer__office-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}
