.order-call__title {
  margin-top: 0;
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.order-call__text {
  width: 380px;
  margin-top: 0;
  margin-bottom: 40px;
}

.order-call__list {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.order-call__item {
  margin-bottom: 20px;

  // &--last-text-field {
  //   margin-bottom: 25px;
  // }

  &--checkbox {
    order: 1;
    margin-bottom: 0;
    padding-left: 10px;
  }
}

