.page__preview {
  margin-bottom: 120px;

  @include vp-1279 {
    margin-bottom: 80px;
  }

  @include vp-769 {
    margin-bottom: 50px;
  }
}

.page__advantages {
  margin-bottom: 120px;

  @include vp-1279 {
    margin-bottom: 80px;
  }

  @include vp-769 {
    margin-bottom: 47px;
  }
}

.page__about {
  margin-bottom: 100px;

  @include vp-1279 {
    margin-bottom: 80px;
  }

  @include vp-769 {
    margin-bottom: 80px;
  }
}

.page__catalog {
  padding-top: 65px;
  padding-bottom: 140px;

  @include vp-1279 {
    padding-top: 55px;
    padding-bottom: 75px;
  }

  @include vp-769 {
    padding-top: 48px;
    padding-bottom: 86px;
  }
}

.page__connection {
  padding-top: 165px;
  padding-bottom: 250px;

  @include vp-1279 {
    padding-top: 47px;
    padding-bottom: 125px;
  }

  @include vp-769 {
    padding-bottom: 55px;
  }
}
