.product {
  position: relative;

  display: block;
  min-height: 650px;
  padding-top: 47px;
  padding-right: 40px;
  padding-bottom: 47px;
  padding-left: 40px;

  background-color: #1b4b70;
  background-repeat: no-repeat;
  background-size: 350px 650px;

  @include vp-1279 {
    min-height: 250px;
    padding-top: 37px;
    padding-right: 45px;
    padding-bottom: 37px;
    padding-left: 45px;

    background-size: 100% auto;
  }

  @include vp-769 {
    padding-top: 26px;
    padding-right: 30px;
    padding-bottom: 26px;
    padding-left: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    display: block;
    width: 60px;
    height: 60px;

    background-color: $color-deep-sky-blue;
    background-image: url("../img/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5px 10px;
    border-top-left-radius: 3px;

    transition: opacity $trans-default;

    @include vp-1279 {
      background-position: 30px center;
    }

    @include vp-769 {
      width: 40px;
      height: 40px;

      background-position: 20px center;
      background-size: 3px auto;
    }
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover::after {
      opacity: 0.6;
    }
  }

  &--production {
    @include vp-1279 {
      background-image: url("../img/tablet-catalog-production@1x.jpg");

      @include retina {
        background-image: url("../img/tablet-catalog-production@2x.jpg");
      }
    }

    @include vp-769 {
      background-image: url("../img/mobile-catalog-production@1x.jpg");

      @include retina {
        background-image: url("../img/mobile-catalog-production@2x.jpg");
      }
    }

    @media (min-width: 1280px) {
      background-image: url("../img/desktop-catalog-production@1x.jpg");

      @include retina {
        background-image: url("../img/desktop-catalog-production@2x.jpg");
      }
    }
  }

  &--montage {
    @include vp-1279 {
      background-image: url("../img/tablet-catalog-montage@1x.jpg");

      @include retina {
        background-image: url("../img/tablet-catalog-montage@2x.jpg");
      }
    }

    @include vp-769 {
      background-image: url("../img/mobile-catalog-montage@1x.jpg");

      @include retina {
        background-image: url("../img/mobile-catalog-montage@2x.jpg");
      }
    }

    @media (min-width: 1280px) {
      background-image: url("../img/desktop-catalog-montage@1x.jpg");

      @include retina {
        background-image: url("../img/desktop-catalog-montage@2x.jpg");
      }
    }
  }

  &--accessories {
    @include vp-1279 {
      background-image: url("../img/tablet-catalog-accessories@1x.jpg");

      @include retina {
        background-image: url("../img/tablet-catalog-accessories@2x.jpg");
      }
    }

    @include vp-769 {
      background-image: url("../img/mobile-catalog-accessories@1x.jpg");

      @include retina {
        background-image: url("../img/mobile-catalog-accessories@2x.jpg");
      }
    }

    @media (min-width: 1280px) {
      background-image: url("../img/desktop-catalog-accessories@1x.jpg");

      @include retina {
        background-image: url("../img/desktop-catalog-accessories@2x.jpg");
      }
    }
  }
}

.product h3 {
  width: 170px;
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $color-default-white;

  @include vp-1279 {
    width: 150px;
  }

  @include vp-769 {
    width: 135px;

    font-size: 18px;
    line-height: 30px;
  }
}
