.socials {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.socials__item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.socials__icon {
  display: block;
  fill: $color-alice-blue;
}
