.text-field {
  position: relative;
}

.text-field__label {
  position: absolute;
  top: calc(50% - 10px);
  left: 15px;

  color: $color-default-white;
}

.text-field__input {
  box-sizing: border-box;
  min-width: 100%;
  height: 50px;
  padding-right: 15px;
  padding-left: 15px;

  background-color: rgba($color-black-pearl, 0.15);
  border: 0;
  border-radius: 3px;

  &::-webkit-input-placeholder {
    opacity: 0;
  }

  &::-moz-placeholder {
    opacity: 0;
  }

  &:-moz-placeholder {
    opacity: 0;
  }

  &:-ms-input-placeholder {
    opacity: 0;
  }

  &::placeholder {
    opacity: 0;
  }
}

.text-field__input:focus + .text-field__label {
  visibility: hidden;
}

.text-field--textarea .text-field__input {
  height: 155px;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
}

.text-field--textarea .text-field__label {
  top: 25px;

  @include vp-1279 {
    top: 32px;
  }
}
